---
import Container from '@components/shared/Container.astro'
import FloatingBlueprint from '@components/shared/FloatingBlueprint.astro'
---

<section class="relative overflow-hidden">
	<Container class="pb-10 pt-20 sm:pb-20 sm:pt-24 lg:pb-10">
		<div class="grid grid-cols-1 lg:grid-cols-2 min-h-[350px]">
			<div class="border-r border-solid border-gray-800">
				<div class="flex flex-col items-start justify-center">
					<div class="max-w-xl">
                        <h1
                            class="overflow-hidden text-wrap text-left text-4xl font-bold leading-extratight text-blue-100 sm:text-5xl sm:leading-extratight"
                        >
                            Build any feature,
                            <span class="relative inline-block text-wrap">
                                <span
                                    class="relative z-10 bg-gradient-to-b from-blue-400 via-blue-400 to-blue-500 bg-clip-text text-transparent"
                                >
                                    integrate with any system.
                                </span>
                                <span class="absolute -top-px left-0 -z-10 text-blue-300">
                                    integrate with any system.
                                </span>
                            </span>
                        </h1>
                        <p
                            class="mt-5 text-left text-[17px] leading-8 text-zinc-200 sm:text-lg sm:leading-8"
                        >
                            A built-in backend framework that lets you create customizations and
                            integrations in hours, not weeks.
                        </p>
                        <div class="mt-4">
                            <div class="w-max pl-4 pr-6 py-3 bg-black bg-opacity-50 font-mono text-green-500 text-sm rounded-lg shadow-sm">
                                flb scaffold --name CommerceIntegration
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="">
                <FloatingBlueprint />
            </div>
		</div>
	</Container>
</section>
