---
import Container from '@components/shared/Container.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
---

<section class="relative overflow-hidden">
	<Container class="pb-16 pt-20 sm:pb-20 sm:pt-24 lg:pb-24">
		<div>
			<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4">
				<div>
					<div class="max-w-sm">
                        <h2
                            class="text-wrap text-left text-xl font-semibold leading-extratight text-blue-100 sm:text-2xl sm:leading-extratight"
                        >
                            With the Fleetbase Universe framework, the only limit is your
                            imagination.
                        </h2>
                    </div>
				</div>
				<div>
					<ul class="space-y-4">
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Sync order activity with e-commerce systems.
								</div>
							</div>
						</li>
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Inject custom data into order creation.
								</div>
							</div>
						</li>
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Listen for system activity in real-time.
								</div>
							</div>
						</li>
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Create hooks into application lifecycle.
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div>
					<ul class="space-y-4">
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Create custom dashboard widgets.
								</div>
							</div>
						</li>
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Create & publish full-featured modules.
								</div>
							</div>
						</li>
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Add custom UI components to existing extension modules.
								</div>
							</div>
						</li>
						<li>
							<div class="flex flex-row items-start leading-6 space-x-2">
								<div>
									<Icon
										name="heroicons:check-circle-solid"
										class="h-4 w-4 text-green-300/85 mt-1"
									/>
								</div>
								<div class="text-blue-100">
									Define new roles, policies, and permissions.
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</Container>
</section>
