---
import Container from '@components/shared/Container.astro'
import StarField from '@components/shared/StarField.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import spaceSpotlight from '@images/space-spotlight.png'
import cosmicButterfly from '@images/cosmic-butterfly.png'

const faqs = [
  {
    question: 'What payment methods does Nebula accept?',
    answer:
      'Nebula accepts a variety of payment methods including major credit and debit cards (Visa, MasterCard, American Express), PayPal, and bank transfers. We also support payments via digital wallets such as Apple Pay and Google Pay.',
  },
  {
    question: 'Can I change my plan later on?',
    answer:
      'Yes, you can change your plan at any time. Simply go to your account settings and select the "Change Plan" option. You can upgrade or downgrade your plan as needed. Any changes will be prorated based on your billing cycle.',
  },
  {
    question: 'Does Nebula offer any discounts for nonprofits?',
    answer:
      'Yes, Nebula offers special discounts for nonprofit organizations. To apply for a nonprofit discount, please contact our support team with proof of your nonprofit status, and we will provide you with a discount code to use during checkout.',
  },
  {
    question: 'Can I get a refund if I don’t like Nebula?',
    answer:
      'Yes, we offer a 30-day money-back guarantee. If you are not satisfied with Nebula, you can request a refund within 30 days of your purchase. Please contact our support team to initiate the refund process.',
  },
  {
    question: 'Is there a free trial available?',
    answer:
      'Yes, we offer a 14-day free trial for all our plans. You can sign up for the free trial without providing payment information. If you decide to continue using Nebula after the trial period, you will need to select a plan and provide payment details.',
  },
  {
    question: 'How does Nebula handle data privacy and security?',
    answer:
      'Nebula takes data privacy and security very seriously. We implement industry-standard security measures to protect your data, including encryption, secure servers, and regular security audits. We are also compliant with GDPR and other data protection regulations.',
  },
]
---

<section class="relative overflow-hidden">
  <div
    class="absolute -left-56 -right-56 -top-80 sm:-left-48 sm:-right-48 md:left-1/2 md:w-full md:max-w-6xl md:-translate-x-1/2 lg:-top-96"
  >
    <Image
      src={spaceSpotlight}
      alt=""
      class="h-full w-full object-contain opacity-45"
      widths={[420, 768, 1152]}
      sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
    />
  </div>

  {/* Stars */}
  <div
    class="absolute left-1/2 top-0 -z-10 h-48 w-full max-w-2xl -translate-x-1/2"
    aria-hidden="true"
  >
    <StarField density="medium" maxRadius={2.5} minRadius={1.25} />
  </div>

  <Container
    class="relative max-w-2xl gap-16 pb-12 pt-20 sm:pb-14 md:max-w-screen-xl lg:pb-16 lg:pt-24"
  >
    <div class="absolute -left-96 -right-96 -top-96 bottom-0 -z-10">
      <Image
        src={cosmicButterfly}
        alt=""
        class="h-[calc(100%_+_384px)] w-[calc(100%_+_768px)] opacity-10"
        widths={[420, 768, 1024]}
        sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) 1024px`}
      />
    </div>

    {/* Text content */}
    <div class="flex flex-col items-center">
      <div
        class="flex items-center rounded-full bg-zinc-950/[.01] shadow-inner-blur"
      >
        <div
          class="flex h-full w-full items-center space-x-2 rounded-full border border-violet-200/[.06] px-4 py-1.5"
        >
          <Icon name="nucleo/comments-16" class="h-3.5 w-3.5 text-violet-200" />
          <span
            class="text-sm font-medium text-violet-100 drop-shadow-[-12px_-4px_6px_rgba(237,233,254,0.2)]"
          >
            FAQs
          </span>
        </div>
      </div>

      <h1
        class="mt-5 max-w-5xl text-center text-4xl font-bold leading-extratight text-violet-100 sm:mt-6 sm:text-5xl sm:leading-extratight"
      >
        Frequently asked questions
      </h1>
      <p
        class="mt-5 max-w-2xl text-center text-[17px] leading-8 text-zinc-200 sm:text-lg sm:leading-8"
      >
        Haven’t found what you’re looking for? Try Nebula’s wiki or <a
          href="/contact"
          class="font-medium text-violet-300 underline duration-200 ease-in-out hover:text-violet-400"
          >contact us.</a
        >
      </p>
    </div>

    {/* Faqs */}
    <div class="relative mt-8 flex flex-wrap items-stretch justify-center">
      {
        faqs.map((faq, index) => (
          <div
            class:list={[
              "group relative w-full bg-gradient-to-b after:absolute after:content-[''] md:w-1/2",
            ]}
          >
            {/* left borders */}
            <div
              class:list={[
                'absolute inset-y-0 left-0 h-full w-px bg-gradient-to-b',
                index % 2 === 0
                  ? Math.floor(index / 2) % 2 === 0
                    ? 'from-violet-200/[0.025] to-violet-200/[0.1]'
                    : 'from-violet-200/[0.05] to-violet-200/[0.1] md:from-violet-200/[0.1] md:to-violet-200/[0.025]'
                  : Math.floor(index / 2) % 2 === 0
                    ? 'from-violet-200/[0.1] to-violet-200/[0.05]'
                    : 'from-violet-200/[0.1] to-violet-200/[0.025] md:from-violet-200/[0.05] md:to-violet-200/[0.1]',
              ]}
            />
            {/* bottom borders */}
            <div
              class:list={[
                'absolute inset-x-0 bottom-0 h-px w-full bg-gradient-to-r',
                Math.ceil(faqs.length / 2) === Math.floor(index / 2) + 1 &&
                  'md:hidden',
                faqs.length === index + 1 && 'hidden',
                index % 2 === 0
                  ? Math.floor(index / 2) % 2 === 0
                    ? 'from-violet-200/[0.025] to-violet-200/[0.1]'
                    : 'from-violet-200/[0.1] to-violet-200/[0.025]'
                  : Math.floor(index / 2) % 2 === 0
                    ? 'from-violet-200/[0.1] to-violet-200/[0.025]'
                    : 'from-violet-200/[0.025] to-violet-200/[0.1]',
              ]}
            />
            {/* Right borders */}
            <div
              class:list={[
                'absolute inset-y-0 right-0 h-full w-px bg-gradient-to-b',
                index % 2 === 1
                  ? Math.floor(index / 2) % 2 === 0
                    ? 'from-violet-200/[0.05] to-violet-200/[0.025] md:from-violet-200/[0.025] md:to-violet-200/[0.1]'
                    : 'from-violet-200/[0.05] to-violet-200/[0.1] md:from-violet-200/[0.1] md:to-violet-200/[0.025]'
                  : Math.floor(index / 2) % 2 === 0
                    ? 'from-violet-200/[0.1] to-violet-200/[0.05] md:hidden'
                    : 'from-violet-200/[0.025] to-violet-200/[0.05] md:hidden',
              ]}
            />

            <span class="absolute -left-[0.5px] top-1/2 h-8 w-px -translate-y-1/2 translate-x-1/2 bg-violet-100/25 md:bg-violet-100/40" />
            <div class="relative h-full w-full overflow-hidden">
              <div
                class="absolute bottom-1/2 left-1/2 right-0 top-0 opacity-0 duration-300 ease-in-out group-hover:opacity-100"
                aria-hidden="true"
              >
                <StarField density="high" maxRadius={1.75} minRadius={1} />
              </div>
              <div class="hover-gradient absolute inset-0 -z-10 bg-gradient-to-b from-[#575EFF]/20 to-[#E478FF]/20 opacity-0 blur-4xl duration-300 ease-in-out group-hover:opacity-100" />
              <dl class="relative h-full w-full p-5 sm:px-6 sm:py-7 lg:p-12">
                <dt class="text-base font-bold leading-7 text-violet-50 sm:text-[17px] lg:text-lg">
                  {faq.question}
                </dt>
                <dd class="mt-2 text-base leading-7 text-zinc-300 sm:mt-3 sm:text-[17px] lg:text-lg lg:leading-8">
                  {faq.answer}
                </dd>
              </dl>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</section>
