---
const {
	imageSrc = null,
	alt = 'Floating blueprint',
	height = '300'
} = Astro.props
---

<div class="floating-illustration-wrapper" style=`height: ${height}px;`>
	<!-- Mobile Fallback Image -->
	{
		imageSrc && (
			<img
				src={imageSrc}
				alt={alt}
				class="my-10 md:hidden"
				loading="lazy"
				decoding="async"
				style="color: transparent"
			/>
		)
	}

	<!-- Desktop SVG Layers -->
	<div class="absolute inset-0 hidden items-center md:flex lg:justify-center">
		<div
			class="floating-layer absolute"
			style="z-index: 5;"
		>
			<div style="will-change: auto;">
				<svg
					width="700"
					height="480"
					viewBox="0 0 700 480"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					><path
						d="M311.16 31.0619L560.529 175.142C565.072 177.767 565.048 181.98 560.475 184.552L504.258 216.174L238.438 62.5886L294.654 30.9667C299.227 28.3945 306.617 28.4371 311.16 31.0619Z"
						fill="#93C5FD"></path><path
						d="M311.16 31.0619L560.529 175.142C565.072 177.767 565.048 181.98 560.475 184.552L504.258 216.174L238.438 62.5886L294.654 30.9667C299.227 28.3945 306.617 28.4371 311.16 31.0619Z"
						stroke="#2563EB"></path><g clip-path="url(#clip0_19552_26335)"
						><path
							d="M294.221 26.7166C299.035 24.0089 306.814 24.0538 311.596 26.8167L560.965 170.897C565.747 173.66 565.721 178.094 560.908 180.802L504.255 212.669L237.569 58.5836L294.221 26.7166Z"
							fill="#DBEAFE"></path><g clip-path="url(#clip1_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.452 52.5801)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.866 55.8056)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.866 55.8056)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.883 52.834)"
							stroke="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 344.774 73.3174)"
							fill="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 386.336 97.3306)"
							fill="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 427.897 121.344)"
							fill="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 469.459 145.357)"
							fill="#2563EB"></rect><g clip-path="url(#clip2_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.013 76.5933)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.427 79.8188)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.427 79.8188)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.444 76.8471)"
							stroke="#2563EB"></rect><g clip-path="url(#clip3_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.575 100.606)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.989 103.832)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.989 103.832)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 402.006 100.86)"
							stroke="#2563EB"></rect><g clip-path="url(#clip4_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.136 124.62)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.55 127.846)"
								fill="#BFDBFE"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.55 127.846)"
								stroke="#2563EB"></rect><path
								d="M465.615 143.571C464.171 144.383 461.837 144.369 460.402 143.541C458.968 142.712 458.975 141.381 460.419 140.569C461.864 139.757 464.197 139.77 465.632 140.599C467.066 141.428 467.059 142.758 465.615 143.571ZM461.458 141.169C460.592 141.657 460.587 142.455 461.448 142.952C462.309 143.45 463.709 143.458 464.576 142.97C465.442 142.483 465.447 141.685 464.586 141.187C463.725 140.69 462.325 140.682 461.458 141.169Z"
								fill="#60A5FA"></path><path
								d="M465.109 140.893C465.398 140.731 465.872 140.732 466.096 140.926C466.31 141.113 466.473 141.319 466.575 141.536C466.742 141.889 466.745 142.26 466.584 142.613C466.423 142.966 466.103 143.288 465.655 143.547C465.381 143.707 465.064 143.839 464.717 143.941C464.356 144.046 463.943 143.912 463.83 143.689V143.689C463.718 143.465 463.956 143.238 464.289 143.106C464.4 143.062 464.504 143.012 464.6 142.956C464.868 142.801 465.06 142.607 465.157 142.396C465.254 142.184 465.252 141.961 465.152 141.749C465.116 141.674 465.068 141.601 465.009 141.531C464.833 141.321 464.82 141.056 465.109 140.893V140.893Z"
								fill="#2563EB"></path></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.568 124.874)"
							stroke="#2563EB"></rect><g clip-path="url(#clip5_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 484.698 148.633)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 485.112 151.859)"
								fill="#BFDBFE"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 485.112 151.859)"
								stroke="#2563EB"></rect><path
								d="M507.176 167.584C505.732 168.396 503.398 168.383 501.964 167.554C500.529 166.725 500.537 165.394 501.981 164.582C503.425 163.77 505.759 163.783 507.193 164.612C508.628 165.441 508.62 166.771 507.176 167.584ZM503.02 165.182C502.154 165.67 502.149 166.468 503.01 166.965C503.871 167.463 505.271 167.471 506.137 166.983C507.004 166.496 507.008 165.698 506.147 165.2C505.287 164.703 503.886 164.695 503.02 165.182Z"
								fill="#60A5FA"></path><path
								d="M506.67 164.906C506.959 164.744 507.433 164.745 507.657 164.94C507.872 165.126 508.034 165.332 508.137 165.549C508.304 165.902 508.307 166.273 508.145 166.626C507.984 166.979 507.664 167.301 507.217 167.56C506.942 167.72 506.625 167.853 506.279 167.954C505.918 168.06 505.504 167.925 505.392 167.702V167.702C505.28 167.478 505.517 167.251 505.85 167.119C505.962 167.075 506.066 167.025 506.162 166.969C506.43 166.814 506.622 166.62 506.719 166.409C506.815 166.197 506.814 165.974 506.714 165.763C506.678 165.687 506.63 165.614 506.571 165.544C506.394 165.334 506.382 165.069 506.67 164.906V164.906Z"
								fill="#2563EB"></path></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 485.129 148.887)"
							stroke="#2563EB"></rect><g clip-path="url(#clip6_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.096 88.3594)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.51 91.5849)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.51 91.5849)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.527 88.6133)"
							stroke="#2563EB"></rect><g clip-path="url(#clip7_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.452 50.5801)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.866 53.8056)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.866 53.8056)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.883 50.834)"
							stroke="#2563EB"></rect><g clip-path="url(#clip8_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.013 74.5933)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.427 77.8188)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.427 77.8188)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.444 74.8471)"
							stroke="#2563EB"></rect><g clip-path="url(#clip9_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.575 98.6064)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.989 101.832)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.989 101.832)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 402.006 98.8603)"
							stroke="#2563EB"></rect><g clip-path="url(#clip10_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.136 122.62)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.55 125.846)"
								fill="#BFDBFE"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.55 125.846)"
								stroke="#2563EB"></rect><path
								d="M465.615 141.571C464.171 142.383 461.837 142.369 460.402 141.541C458.968 140.712 458.975 139.381 460.419 138.569C461.864 137.757 464.197 137.77 465.632 138.599C467.066 139.428 467.059 140.758 465.615 141.571ZM461.458 139.169C460.592 139.657 460.587 140.455 461.448 140.952C462.309 141.45 463.709 141.458 464.576 140.97C465.442 140.483 465.447 139.685 464.586 139.187C463.725 138.69 462.325 138.682 461.458 139.169Z"
								fill="#60A5FA"></path><path
								d="M465.109 138.893C465.398 138.731 465.872 138.732 466.096 138.926C466.31 139.113 466.473 139.319 466.575 139.536C466.742 139.889 466.745 140.26 466.584 140.613C466.423 140.966 466.103 141.288 465.655 141.547C465.381 141.707 465.064 141.839 464.717 141.941C464.356 142.046 463.943 141.912 463.83 141.689V141.689C463.718 141.465 463.956 141.238 464.289 141.106C464.4 141.062 464.504 141.012 464.6 140.956C464.868 140.801 465.06 140.607 465.157 140.396C465.254 140.184 465.252 139.961 465.152 139.749C465.116 139.674 465.068 139.601 465.009 139.531C464.833 139.321 464.82 139.056 465.109 138.893V138.893Z"
								fill="#2563EB"></path></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.568 122.874)"
							stroke="#2563EB"></rect><g clip-path="url(#clip11_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 484.698 146.633)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 485.112 149.859)"
								fill="#BFDBFE"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 485.112 149.859)"
								stroke="#2563EB"></rect><path
								d="M507.176 165.584C505.732 166.396 503.398 166.383 501.964 165.554C500.529 164.725 500.537 163.394 501.981 162.582C503.425 161.77 505.759 161.783 507.193 162.612C508.628 163.441 508.62 164.771 507.176 165.584ZM503.02 163.182C502.154 163.67 502.149 164.468 503.01 164.965C503.871 165.463 505.271 165.471 506.137 164.983C507.004 164.496 507.008 163.698 506.147 163.2C505.287 162.703 503.886 162.695 503.02 163.182Z"
								fill="#60A5FA"></path><path
								d="M506.67 162.906C506.959 162.744 507.433 162.745 507.657 162.94C507.872 163.126 508.034 163.332 508.137 163.549C508.304 163.902 508.307 164.273 508.145 164.626C507.984 164.979 507.664 165.301 507.217 165.56C506.942 165.72 506.625 165.853 506.279 165.954C505.918 166.06 505.504 165.925 505.392 165.702V165.702C505.28 165.478 505.517 165.251 505.85 165.119C505.962 165.075 506.066 165.025 506.162 164.969C506.43 164.814 506.622 164.62 506.719 164.409C506.815 164.197 506.814 163.974 506.714 163.763C506.678 163.687 506.63 163.614 506.571 163.544C506.394 163.334 506.382 163.069 506.67 162.906V162.906Z"
								fill="#2563EB"></path></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 485.129 146.887)"
							stroke="#2563EB"></rect><g clip-path="url(#clip12_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.096 86.3594)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.51 89.5849)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.51 89.5849)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.527 86.6133)"
							stroke="#2563EB"></rect><rect
							width="1"
							height="12"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 364.707 91.2314)"
							fill="#2563EB"></rect></g
					><path
						d="M311.16 27.0619L560.529 171.142C565.072 173.767 565.048 177.98 560.475 180.552L504.258 212.174L238.438 58.5886L294.654 26.9667C299.227 24.3945 306.617 24.4371 311.16 27.0619Z"
						stroke="#2563EB"></path><line
						x1="238.066"
						y1="62.6016"
						x2="238.066"
						y2="58.6016"
						stroke="#2563EB"></line><line
						x1="504.247"
						y1="216.075"
						x2="504.247"
						y2="212.075"
						stroke="#2563EB"></line><path
						d="M238.566 59.1724L242.652 61.5156L239.682 62.8173L238.566 62.1932V59.1724Z"
						fill="#93C5FD"></path><defs
						><clipPath id="clip0_19552_26335"
							><path
								d="M294.221 26.7166C299.035 24.0089 306.814 24.0538 311.596 26.8167L560.965 170.897C565.747 173.66 565.721 178.094 560.908 180.802L504.255 212.669L237.569 58.5836L294.221 26.7166Z"
								fill="white"></path></clipPath
						><clipPath id="clip1_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.452 52.5801)"
								fill="white"></rect></clipPath
						><clipPath id="clip2_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.013 76.5933)"
								fill="white"></rect></clipPath
						><clipPath id="clip3_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.575 100.606)"
								fill="white"></rect></clipPath
						><clipPath id="clip4_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.136 124.62)"
								fill="white"></rect></clipPath
						><clipPath id="clip5_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 484.698 148.633)"
								fill="white"></rect></clipPath
						><clipPath id="clip6_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.096 88.3594)"
								fill="white"></rect></clipPath
						><clipPath id="clip7_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 318.452 50.5801)"
								fill="white"></rect></clipPath
						><clipPath id="clip8_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.013 74.5933)"
								fill="white"></rect></clipPath
						><clipPath id="clip9_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 401.575 98.6064)"
								fill="white"></rect></clipPath
						><clipPath id="clip10_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 443.136 122.62)"
								fill="white"></rect></clipPath
						><clipPath id="clip11_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 484.698 146.633)"
								fill="white"></rect></clipPath
						><clipPath id="clip12_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.096 86.3594)"
								fill="white"></rect></clipPath
						></defs
					></svg>
			</div>
		</div>
        <div
			class="floating-layer absolute"
			style="z-index: 4;"
		>
			<div style="will-change: auto;">
				<svg
					width="700"
					height="480"
					viewBox="0 0 700 480"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="M520.022 196.192L557.81 218.071L557.111 220.676L517.533 197.809L520.022 196.192Z"
						fill="#E4E4E7"></path><path
						d="M290.683 80.1219L290.531 76.4104L296.262 73.6585L302.119 73.3047L306.184 73.6585L309.643 74.5418L312.622 76.1576L520.25 196.155L517.801 198.402L330.37 90.0938L317.52 82.444L313.304 80.1219L307.345 77.5461L297.853 77.1674L290.683 80.1219Z"
						fill="#E4E4E7"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M312.461 79.3182C306.722 76.0027 297.388 75.9488 291.611 79.198L227.986 114.987C223.173 117.695 223.147 122.13 227.929 124.892L477.298 268.972C482.08 271.735 489.859 271.78 494.673 269.073L558.298 233.283C564.074 230.034 564.105 224.713 558.366 221.397L312.461 79.3182ZM311.589 79.8085C306.329 76.7692 297.772 76.7199 292.477 79.6983L237.568 110.585L502.523 263.67L557.432 232.783C562.727 229.805 562.755 224.927 557.495 221.887L311.589 79.8085Z"
						fill="#E4E4E7"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M560.549 223.001C559.95 222.431 559.222 221.891 558.366 221.397L312.461 79.3182C312.314 79.2337 312.166 79.1514 312.015 79.0711C306.4 76.0823 297.709 76.0322 292.06 78.9561C291.908 79.0346 291.759 79.1152 291.611 79.198L227.986 114.987C223.173 117.695 223.147 122.129 227.929 124.892L477.298 268.972C482.08 271.735 489.859 271.78 494.673 269.073L558.298 233.283C559.159 232.799 559.893 232.268 560.499 231.705C563.349 229.055 563.369 225.684 560.549 223.001ZM502.523 263.67L557.432 232.783C557.582 232.699 557.729 232.612 557.871 232.525C558.636 232.052 559.278 231.538 559.796 230.994C561.948 228.737 561.964 225.985 559.838 223.703C559.326 223.154 558.691 222.632 557.931 222.151C557.79 222.062 557.644 221.974 557.495 221.887L311.589 79.8085C306.329 76.7692 297.772 76.7199 292.477 79.6983L237.568 110.585L502.523 263.67ZM236.695 111.236L501.369 264.158L494.182 268.201C491.963 269.449 488.997 270.091 485.979 270.074C482.962 270.057 480.003 269.38 477.799 268.107L228.43 124.027C226.217 122.748 225.352 121.228 225.359 119.925C225.367 118.622 226.25 117.111 228.477 115.859L236.695 111.236Z"
						fill="#71717A"></path><path
						d="M561.455 226.649C560.364 227.994 559.537 228.671 557.517 229.657L557.688 232.641C560.515 230.794 561.415 229.524 561.455 226.649Z"
						fill="#E4E4E7"></path><path
						d="M237.602 106.569L290.912 76.627L290.912 79.5695L240.189 108.149L237.602 106.569Z"
						fill="#E4E4E7"></path><path
						d="M557.083 220.681C559.16 221.822 560.018 222.542 561.388 223.934C561.54 221.136 560.742 220.011 557.771 218.052L557.083 220.681Z"
						fill="#E4E4E7"></path><path
						d="M498.857 262.725L501.713 261.107L501.713 264.143L500.567 264.765L498.857 262.725Z"
						fill="#E4E4E7"></path><path
						d="M502.717 260.54L557.551 229.698L557.708 232.62L502.717 263.56L502.717 260.54Z"
						fill="#E4E4E7"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M312.461 75.3172C306.722 72.0017 297.388 71.9479 291.611 75.197L227.986 110.986C223.173 113.694 223.147 118.129 227.929 120.891L477.298 264.971C482.08 267.734 489.859 267.779 494.673 265.072L558.298 229.283C564.074 226.033 564.105 220.712 558.366 217.396L312.461 75.3172ZM311.589 75.8075C306.329 72.7682 297.772 72.7189 292.477 75.6973L237.568 106.584L502.523 259.669L557.432 228.782C562.727 225.804 562.755 220.926 557.495 217.886L311.589 75.8075Z"
						fill="white"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M560.549 219C559.95 218.43 559.222 217.891 558.366 217.396L312.461 75.3172C312.314 75.2327 312.166 75.1504 312.015 75.0701C306.4 72.0813 297.709 72.0312 292.06 74.9551C291.908 75.0336 291.759 75.1142 291.611 75.197L227.986 110.986C223.173 113.694 223.147 118.129 227.929 120.891L477.298 264.971C482.08 267.734 489.859 267.779 494.673 265.072L558.298 229.283C559.159 228.798 559.893 228.267 560.499 227.704C563.349 225.054 563.369 221.683 560.549 219ZM502.523 259.669L557.432 228.782C557.582 228.698 557.729 228.611 557.871 228.524C558.636 228.051 559.278 227.537 559.796 226.993C561.948 224.736 561.964 221.984 559.838 219.702C559.326 219.153 558.691 218.631 557.931 218.15C557.79 218.061 557.644 217.973 557.495 217.886L311.589 75.8075C306.329 72.7682 297.772 72.7189 292.477 75.6973L237.568 106.584L502.523 259.669ZM236.695 107.235L501.369 260.157L494.182 264.2C491.963 265.448 488.997 266.09 485.979 266.073C482.962 266.056 480.003 265.379 477.799 264.106L228.43 120.026C226.217 118.747 225.352 117.227 225.359 115.924C225.367 114.621 226.25 113.11 228.477 111.858L236.695 107.235Z"
						fill="#71717A"></path><line
						x1="502.219"
						y1="264.359"
						x2="502.219"
						y2="260.359"
						stroke="#71717A"></line><path
						d="M487.746 261.07C485.339 262.424 481.449 262.401 479.058 261.02C476.667 259.638 476.68 257.421 479.087 256.067C481.494 254.713 485.383 254.736 487.774 256.117C490.165 257.499 490.152 259.716 487.746 261.07ZM480.819 257.068C479.375 257.88 479.367 259.211 480.802 260.039C482.236 260.868 484.57 260.882 486.014 260.07C487.458 259.257 487.466 257.927 486.031 257.098C484.596 256.269 482.263 256.256 480.819 257.068Z"
						fill="#D4D4D8"></path><path
						d="M486.903 256.608C487.384 256.337 488.174 256.339 488.547 256.663C488.905 256.974 489.176 257.317 489.347 257.679C489.625 258.267 489.63 258.886 489.361 259.474C489.092 260.062 488.559 260.599 487.813 261.031C487.356 261.297 486.827 261.518 486.25 261.687C485.648 261.863 484.959 261.64 484.772 261.267C484.585 260.894 484.981 260.516 485.536 260.296C485.721 260.222 485.895 260.139 486.055 260.046C486.502 259.787 486.822 259.465 486.983 259.112C487.144 258.759 487.141 258.388 486.974 258.035C486.915 257.909 486.835 257.787 486.737 257.67C486.443 257.32 486.421 256.878 486.903 256.608Z"
						fill="#71717A"></path><rect
						x="-0.00285524"
						y="0.495269"
						width="23"
						height="4"
						rx="1.5"
						transform="matrix(0.865865 0.500278 -0.871576 0.490261 455.72 240.087)"
						fill="#F4F4F5"></rect><rect
						x="-0.00285524"
						y="0.495269"
						width="23"
						height="4"
						rx="1.5"
						transform="matrix(0.865865 0.500278 -0.871576 0.490261 455.72 240.087)"
						stroke="#71717A"></rect><rect
						x="-0.00285524"
						y="0.495269"
						width="15"
						height="4"
						rx="1.5"
						transform="matrix(0.865865 0.500278 -0.871576 0.490261 436.673 229.081)"
						fill="#F4F4F5"></rect><rect
						x="-0.00285524"
						y="0.495269"
						width="15"
						height="4"
						rx="1.5"
						transform="matrix(0.865865 0.500278 -0.871576 0.490261 436.673 229.081)"
						stroke="#71717A"></rect></svg>
			</div>
		</div>
        <div class="floating-layer absolute" style="z-index:3">
			<svg
				width="700"
				height="480"
				viewBox="0 0 700 480"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="M288.407 123.651C292.164 121.538 297.11 120.485 302.077 120.513C307.044 120.542 311.978 121.652 315.71 123.809L565.079 267.889C568.816 270.047 570.556 272.787 570.541 275.41C570.526 278.034 568.754 280.753 564.993 282.869L411.596 369.155C407.839 371.268 402.892 372.321 397.925 372.293C392.958 372.264 388.025 371.154 384.292 368.997L134.923 224.917C131.187 222.758 129.446 220.019 129.461 217.395C129.476 214.772 131.248 212.053 135.009 209.937L288.407 123.651ZM310.981 125.884C308.497 124.449 305.266 123.734 302.059 123.716C298.851 123.697 295.612 124.375 293.111 125.781L227.743 162.551C225.247 163.955 223.873 165.879 223.862 167.916C223.85 169.953 225.201 171.892 227.681 173.325L477.05 317.405C479.534 318.84 482.765 319.555 485.973 319.574C489.181 319.592 492.42 318.915 494.92 317.508L560.288 280.738C562.785 279.334 564.158 277.411 564.17 275.374C564.182 273.336 562.831 271.397 560.35 269.964L310.981 125.884ZM222.952 175.401C220.468 173.966 217.237 173.251 214.029 173.232C210.822 173.214 207.583 173.891 205.082 175.298L139.714 212.067C137.217 213.472 135.844 215.395 135.832 217.432C135.821 219.47 137.172 221.408 139.652 222.841L389.021 366.921C391.505 368.357 394.736 369.072 397.944 369.09C401.151 369.108 404.39 368.431 406.891 367.024L472.259 330.255C474.756 328.85 476.129 326.927 476.141 324.89C476.153 322.853 474.802 320.914 472.321 319.481L222.952 175.401Z"
					fill="#E4E4E7"
					stroke="#71717A"></path><path
					d="M288.407 119.651C292.164 117.538 297.11 116.485 302.077 116.513C307.044 116.542 311.978 117.652 315.71 119.809L565.079 263.889C568.816 266.047 570.556 268.787 570.541 271.41C570.526 274.034 568.754 276.753 564.993 278.869L411.596 365.155C407.839 367.268 402.892 368.321 397.925 368.293C392.958 368.264 388.025 367.154 384.292 364.997L134.923 220.917C131.187 218.758 129.446 216.019 129.461 213.395C129.476 210.772 131.248 208.053 135.009 205.937L288.407 119.651ZM310.981 121.884C308.497 120.449 305.266 119.734 302.059 119.716C298.851 119.697 295.612 120.375 293.111 121.781L227.743 158.551C225.247 159.955 223.873 161.879 223.862 163.916C223.85 165.953 225.201 167.892 227.681 169.325L477.05 313.405C479.534 314.84 482.765 315.555 485.973 315.574C489.181 315.592 492.42 314.915 494.92 313.508L560.288 276.738C562.785 275.334 564.158 273.411 564.17 271.374C564.182 269.336 562.831 267.397 560.35 265.964L310.981 121.884ZM222.952 171.401C220.468 169.966 217.237 169.251 214.029 169.232C210.822 169.214 207.583 169.891 205.082 171.298L139.714 208.067C137.217 209.472 135.844 211.395 135.832 213.432C135.821 215.47 137.172 217.408 139.652 218.841L389.021 362.921C391.505 364.357 394.736 365.072 397.944 365.09C401.151 365.108 404.39 364.431 406.891 363.024L472.259 326.255C474.756 324.85 476.129 322.927 476.141 320.89C476.153 318.853 474.802 316.914 472.321 315.481L222.952 171.401Z"
					fill="#FAFAFA"
					stroke="#71717A"></path></svg>
		</div>
        <div
			class="floating-layer absolute"
			style="z-index: 2;"
		>
			<div style="will-change: auto;">
				<svg
					width="700"
					height="480"
					viewBox="0 0 700 480"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="M227.477 223.597L469.797 363.59L469.098 366.195L226.46 226.004L227.477 223.597Z"
						fill="#E4E4E7"></path><path
						d="M227.629 223.486L220.727 219.588L213.589 218.587L212.377 222.512L219.463 223.065L226.496 226.067L227.629 223.486Z"
						fill="#E4E4E7"></path><path
						d="M202.789 222.114C205.637 219.925 208.132 219.255 213.826 218.797L212.614 222.459C208.45 222.831 206.75 222.984 202.789 225.224L202.789 222.114Z"
						fill="#E4E4E7"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M224.429 224.833C218.691 221.518 209.356 221.464 203.58 224.713L139.955 260.502C135.142 263.21 135.116 267.645 139.898 270.408L389.267 414.488C394.049 417.251 401.828 417.295 406.642 414.588L470.267 378.799C476.043 375.55 476.074 370.228 470.335 366.912L224.429 224.833ZM223.558 225.324C218.298 222.284 209.741 222.235 204.446 225.213L149.537 256.1L414.491 409.185L469.401 378.298C474.696 375.32 474.724 370.442 469.464 367.403L223.558 225.324Z"
						fill="#E4E4E7"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M203.58 224.713C209.356 221.464 218.691 221.518 224.429 224.833L470.335 366.912C476.074 370.228 476.043 375.55 470.267 378.799L406.642 414.588C401.828 417.295 394.049 417.251 389.267 414.488L139.898 270.408C135.116 267.645 135.142 263.21 139.955 260.502L203.58 224.713ZM413.62 409.675L405.776 414.087C401.443 416.524 394.443 416.484 390.139 413.997L140.77 269.917C136.466 267.431 136.489 263.439 140.821 261.003L148.665 256.59L413.62 409.675ZM223.558 225.324C218.298 222.284 209.741 222.235 204.446 225.213L149.537 256.1L414.491 409.185L469.401 378.298C474.696 375.32 474.724 370.442 469.464 367.403L223.558 225.324Z"
						fill="#71717A"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M224.429 220.833C218.691 217.518 209.356 217.464 203.58 220.713L139.955 256.502C135.142 259.21 135.116 263.645 139.898 266.408L389.267 410.488C394.049 413.251 401.828 413.295 406.642 410.588L470.267 374.799C476.043 371.55 476.074 366.228 470.335 362.912L224.429 220.833ZM223.558 221.324C218.298 218.284 209.741 218.235 204.446 221.213L149.537 252.1L414.491 405.185L469.401 374.298C474.696 371.32 474.724 366.442 469.464 363.403L223.558 221.324Z"
						fill="white"></path><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M203.58 220.713C209.356 217.464 218.691 217.518 224.429 220.833L470.335 362.912C476.074 366.228 476.043 371.55 470.267 374.799L406.642 410.588C401.828 413.295 394.049 413.251 389.267 410.488L139.898 266.408C135.116 263.645 135.142 259.21 139.955 256.502L203.58 220.713ZM413.62 405.675L405.776 410.087C401.443 412.524 394.443 412.484 390.139 409.997L140.77 265.917C136.466 263.431 136.489 259.439 140.821 257.003L148.665 252.59L413.62 405.675ZM223.558 221.324C218.298 218.284 209.741 218.235 204.446 221.213L149.537 252.1L414.491 405.185L469.401 374.298C474.696 371.32 474.724 366.442 469.464 363.403L223.558 221.324Z"
						fill="#71717A"></path><line
						x1="414.125"
						y1="409.888"
						x2="414.125"
						y2="405.888"
						stroke="#71717A"></line><path
						d="M414.629 406.069L469.427 375.243L469.69 378.185L414.629 409.089V406.069Z"
						fill="#E4E4E7"></path><path
						d="M473.445 372.142C472.354 373.486 471.411 374.23 469.391 375.216L469.645 378.194C472.472 376.347 473.406 375.017 473.445 372.142Z"
						fill="#E4E4E7"></path><path
						d="M410.86 408.225L413.628 406.66V409.683L412.417 410.352L410.86 408.225Z"
						fill="#E4E4E7"></path><path
						d="M149.523 252.112L202.834 222.17V225.112L152.111 253.692L149.523 252.112Z"
						fill="#E4E4E7"></path><path
						d="M469.071 366.199C471.148 367.341 472.006 368.061 473.376 369.453C473.528 366.655 472.73 365.53 469.758 363.57L469.071 366.199Z"
						fill="#E4E4E7"></path></svg>
			</div>
		</div>
        <div
			class="floating-layer absolute"
			style="z-index: 1; will-change: transform; transform: translateY(0.399668px);"
		>
			<div style="will-change: auto;">
				<svg
					width="700"
					height="480"
					viewBox="0 0 700 480"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					><path
						d="M223.131 272.578L472.5 416.658C477.043 419.283 477.018 423.496 472.445 426.069L416.229 457.69L150.408 304.105L206.625 272.483C211.198 269.911 218.588 269.954 223.131 272.578Z"
						fill="#93C5FD"></path><path
						d="M223.131 272.578L472.5 416.658C477.043 419.283 477.018 423.496 472.445 426.069L416.229 457.69L150.408 304.105L206.625 272.483C211.198 269.911 218.588 269.954 223.131 272.578Z"
						stroke="#2563EB"></path><g clip-path="url(#clipB0_19552_26335)"
						><path
							d="M206.192 268.233C211.006 265.526 218.784 265.57 223.566 268.333L472.935 412.413C477.718 415.176 477.692 419.611 472.878 422.319L416.226 454.186L149.54 300.1L206.192 268.233Z"
							fill="#DBEAFE"></path><g clip-path="url(#clipB1_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.422 294.097)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.837 297.322)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.837 297.322)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.854 294.351)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB2_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 271.984 318.11)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 272.398 321.335)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 272.398 321.335)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 272.415 318.364)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB3_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.545 342.123)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.96 345.349)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.96 345.349)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.977 342.377)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB4_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.107 366.137)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.521 369.362)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.521 369.362)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.538 366.391)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB5_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 375.751 401.916)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 376.165 405.142)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 376.165 405.142)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 376.182 402.17)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB6_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.189 377.903)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.604 381.128)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.604 381.128)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.621 378.157)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB7_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.066 329.876)"
								fill="#93C5FD"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.481 333.102)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.481 333.102)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.498 330.13)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB8_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.422 292.097)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.837 295.322)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.837 295.322)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.854 292.351)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB9_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 271.984 316.11)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 272.398 319.335)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 272.398 319.335)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 272.415 316.364)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB10_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.545 340.123)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.96 343.349)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.96 343.349)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.977 340.377)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB11_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.107 364.137)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.521 367.362)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.521 367.362)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.538 364.391)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB12_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 375.751 399.916)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 376.165 403.142)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 376.165 403.142)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 376.182 400.17)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB13_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.189 375.903)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.604 379.128)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.604 379.128)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.621 376.157)"
							stroke="#2563EB"></rect><g clip-path="url(#clipB14_19552_26335)"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.066 327.876)"
								fill="#EFF6FF"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.481 331.102)"
								fill="#60A5FA"></rect><rect
								x="-0.00285524"
								y="0.495269"
								width="5"
								height="5"
								rx="1.5"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.481 331.102)"
								stroke="#2563EB"></rect></g
						><rect
							x="-0.00285524"
							y="0.495269"
							width="35"
							height="11"
							rx="3.5"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.498 328.13)"
							stroke="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 256.745 314.834)"
							fill="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 298.307 338.847)"
							fill="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 339.868 362.86)"
							fill="#2563EB"></rect><rect
							width="12"
							height="1"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 360.512 398.64)"
							fill="#2563EB"></rect><rect
							width="1"
							height="12"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 359.801 380.774)"
							fill="#2563EB"></rect><rect
							width="1"
							height="12"
							transform="matrix(0.865865 0.500278 -0.871576 0.490261 276.678 332.748)"
							fill="#2563EB"></rect></g
					><path
						d="M223.131 268.578L472.5 412.658C477.043 415.283 477.018 419.496 472.445 422.069L416.229 453.69L150.408 300.105L206.625 268.483C211.198 265.911 218.588 265.954 223.131 268.578Z"
						stroke="#2563EB"></path><line
						x1="150.038"
						y1="304.1"
						x2="150.038"
						y2="300.1"
						stroke="#2563EB"></line><line
						x1="416.195"
						y1="457.587"
						x2="416.195"
						y2="453.587"
						stroke="#2563EB"></line><path
						d="M150.538 300.688L154.28 302.833L152.314 304.719L150.538 303.704V300.688Z"
						fill="#93C5FD"></path><defs
						><clipPath id="clipB0_19552_26335"
							><path
								d="M206.192 268.233C211.006 265.526 218.784 265.57 223.566 268.333L472.935 412.413C477.718 415.176 477.692 419.611 472.878 422.319L416.226 454.186L149.54 300.1L206.192 268.233Z"
								fill="white"></path></clipPath
						><clipPath id="clipB1_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.422 294.097)"
								fill="white"></rect></clipPath
						><clipPath id="clipB2_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 271.984 318.11)"
								fill="white"></rect></clipPath
						><clipPath id="clipB3_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.545 342.123)"
								fill="white"></rect></clipPath
						><clipPath id="clipB4_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.107 366.137)"
								fill="white"></rect></clipPath
						><clipPath id="clipB5_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 375.751 401.916)"
								fill="white"></rect></clipPath
						><clipPath id="clipB6_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.189 377.903)"
								fill="white"></rect></clipPath
						><clipPath id="clipB7_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.066 329.876)"
								fill="white"></rect></clipPath
						><clipPath id="clipB8_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 230.422 292.097)"
								fill="white"></rect></clipPath
						><clipPath id="clipB9_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 271.984 316.11)"
								fill="white"></rect></clipPath
						><clipPath id="clipB10_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 313.545 340.123)"
								fill="white"></rect></clipPath
						><clipPath id="clipB11_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 355.107 364.137)"
								fill="white"></rect></clipPath
						><clipPath id="clipB12_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 375.751 399.916)"
								fill="white"></rect></clipPath
						><clipPath id="clipB13_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 334.189 375.903)"
								fill="white"></rect></clipPath
						><clipPath id="clipB14_19552_26335"
							><rect
								width="36"
								height="12"
								rx="4"
								transform="matrix(0.865865 0.500278 -0.871576 0.490261 251.066 327.876)"
								fill="white"></rect></clipPath
						></defs
					></svg>
			</div>
		</div>
	</div>
</div>

<style>
	.floating-illustration-wrapper {
        position: relative;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
        height: 300px;
	}

	.floating-layer {
		will-change: transform;
		animation: floatY 6s ease-in-out infinite;
	}

	@keyframes floatY {
		0%,
		100% {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(-3.5px);
		}
	}
</style>
