---
import Container from '@components/shared/Container.astro'
import { Image } from 'astro:assets'
import activityFlowScreen from '@images/screenshots/activity-flow.png'
---

<Container class="">
  <div class="relative flex items-center justify-center overflow-hidden pt-6 pb-10">
    <!-- The image itself -->
    <div class="h-[700px]" style="perspective: 1400px;">
        <Image
          src={activityFlowScreen}
          alt=""
          class="h-auto w-full max-w-6xl transform-gpu rounded-lg opacity-90 border border-gray-800 border-solid"
        />
    </div>

    <!-- Left-side fade overlay -->
    <div class="pointer-events-none absolute inset-0 bg-gradient-to-l from-[#18181B] via-transparent to-transparent blur-sm" />

    <!-- Bottom fade overlay -->
    <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-[#18181B] via-transparent to-transparent blur-sm" />
  </div>
</Container>