---
import Container from '@components/shared/Container.astro'
import ContactForm from './ContactForm.astro'
import ContainerOutline from '@components/shared/ContainerOutline.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { CLIENTS } from '@config'

import spaceSpotlight from '@images/space-spotlight.png'

const contactReasons = [
  'Secure an appointment to talk to our sales reps.',
  'Learn which plan is right for your team.',
  'Request a demo or get onboarding help.',
]
---

<Container class="relative py-20 lg:pb-48 lg:pt-28">
  <div
    class="absolute -bottom-48 -left-56 -right-56 h-full sm:-left-48 sm:-right-48 sm:top-64 md:left-1/2 md:w-full md:max-w-6xl md:-translate-x-1/2 lg:top-16"
  >
    <Image
      src={spaceSpotlight}
      alt=""
      class="h-full w-full object-contain opacity-40 lg:opacity-50"
      widths={[420, 768, 1152]}
      sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
    />
  </div>

  <div
    class="relative mx-auto max-w-lg sm:max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:items-center lg:gap-x-12 2xl:gap-x-28"
  >
    {/* Text content */}
    <div
      id="about-text-header"
      class="flex w-full flex-col md:items-center lg:col-span-1 lg:items-start"
    >
      <div>
        <div
          class="inline-flex items-center rounded-full bg-zinc-950/[.01] shadow-inner-blur"
        >
          <div
            class="flex h-full w-full items-center space-x-2 rounded-full border border-violet-200/[.06] px-4 py-1.5"
          >
            <Icon name="nucleo/send-16" class="h-3.5 w-3.5 text-violet-200" />
            <span
              class="text-sm font-medium text-violet-100 drop-shadow-[-12px_-4px_6px_rgba(237,233,254,0.2)]"
            >
              Contact us
            </span>
          </div>
        </div>
      </div>
      <h1
        class="mt-5 text-[2.75rem] font-bold leading-[1.125] text-violet-100 sm:text-5xl sm:leading-[1.125] md:text-center md:leading-[1.125] lg:text-left xl:text-6xl 2xl:text-[64px]"
      >
        Get in touch
      </h1>
      <p
        class="mt-5 text-lg leading-8 text-zinc-300 sm:text-xl sm:leading-8 md:mx-auto md:max-w-xl md:text-center lg:mx-0 lg:max-w-none lg:text-left"
      >
        Please feel free to send us any questions, feedback or suggestions you
        might have.
      </p>
      <ul
        class="mt-6 flex flex-col space-y-4 md:mt-10 md:max-w-3xl md:flex-row md:space-x-3 md:space-y-0 lg:mt-12 lg:flex-col lg:space-x-0 lg:space-y-4"
      >
        {
          contactReasons.map((reason) => (
            <li class="flex items-start sm:items-center md:items-start lg:items-center">
              <Icon
                name="nucleo/c-check-16"
                class="lg:w-4.5 lg:h-4.5 mt-1.5 h-4 w-4 shrink-0 text-violet-100 sm:mt-0 md:mt-1.5 lg:mt-0"
              />
              <p class="ml-3 text-lg text-zinc-300 md:text-[17px] md:leading-normal lg:ml-4">
                {reason}
              </p>
            </li>
          ))
        }
      </ul>

      {/* Social Proof */}
      <div class="w-full">
        <div class="mt-14 flex items-center gap-x-4 sm:mt-16 xl:mt-20">
          <h4
            class="flex-none text-sm font-semibold uppercase leading-6 tracking-wider text-zinc-400/95"
          >
            Our clients
          </h4>
          <div
            class="h-px flex-auto bg-gradient-to-r from-violet-200/[0.08] to-violet-200/[0.20]"
          >
          </div>
        </div>
        <div
          class="relative mt-6 w-full overflow-hidden [mask:linear-gradient(90deg,_transparent,_white_20%,_white_80%,_transparent)]"
        >
          <div
            class="flex w-max animate-infiniteScroll items-center justify-around"
          >
            {
              [...Array(2)].map((_) => (
                <div class="flex w-1/2 items-center">
                  {CLIENTS.map((client) => (
                    <Image
                      src={client.logo}
                      alt={client.name}
                      class="mx-0.5 scale-75 sm:mx-3 sm:scale-90"
                    />
                  ))}
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>

    {/* Contact Form */}
    <div class="mt-16 sm:mt-20 lg:col-span-1 lg:mt-0">
      <div class="relative z-10 px-6 py-10 shadow-inner-blur sm:px-8">
        <ContainerOutline />
        <ContactForm />
      </div>
    </div>
  </div>
</Container>
