---
import Container from '@components/shared/Container.astro'
import CodeFeatures from '@components/shared/CodeFeatures.astro'
import { Icon } from 'astro-icon/components'

const features = [
	{
		title: 'Define your component',
		description:
			'Custom UI components allow you to embed your logic and interfaces directly into the console. These components can be reused and dynamically rendered across multiple core modules. The component templates are defined using handlebars, and logic and functions to be written within a glimmer component folowing naming conventions.',
		icon: 'heroicons:play-circle-solid',
        filepath: ['addon', 'components', 'vessel-details-form.hbs'],
		codeBlocks: [
			{
				language: 'handlebars',
				code: `<ContentPanel @title="Vessel Details">
  <div class="grid grid-cols-3 gap-3">
    <Input
      @label="Vessel IMO"
      @value={{@vessel.imo}}
      @onChange={{fn (mut @vessel.imo)}}
    />

    <Input
      @label="ETA"
      @type="datetime-local"
      @value={{@vessel.eta}}
      @onChange={{fn (mut @vessel.eta)}}
    />

    <Input
      @label="ETD"
      @type="datetime-local"
      @value={{@vessel.etd}}
      @onChange={{fn (mut @vessel.etd)}}
    />
  </div>
</ContentPanel>
`,
			},
		],
	},
	{
		title: 'Integrate your component into the UI',
		description: 'The framework allows you to place your components anywhere within the console layout by registering them through your extension engine, making UI customization modular and scalable.',
        icon: 'heroicons:play-circle-solid',
        filepath: ['addon', 'engine.js'],
		codeBlocks: [
			{
				language: 'javascript',
				code: `import Engine from '@ember/engine';
import loadInitializers from 'ember-load-initializers';
import Resolver from 'ember-resolver';
import config from './config/environment';
import services from '@fleetbase/ember-core/exports/services';
import VesselDetailsFormComponent from './components/vessel-details-form';

const { modulePrefix } = config;
const externalRoutes = ['console', 'extensions'];

export default class VesselIntegrationEngine extends Engine {
    modulePrefix = modulePrefix;
    Resolver = Resolver;
    dependencies = {
        services,
        externalRoutes,
    };
    engineDependencies = ['@fleetbase/fleetops-engine'];
    setupExtension = function (app, engine, universe) {
        universe.registerRenderableComponent('@fleetbase/fleetops-engine', 'fleet-ops:template:operations:orders:new', VesselDetailsFormComponent);
    }
}
`,
			},
		],
	},
	{
		title: 'Register a new Dashboard Widget',
		description:
			'Fleetbase supports registering custom components as dashboard widgets, enabling you to extend the dashboard with real-time metrics, controls, or visualizations.',
        icon: 'heroicons:play-circle-solid',
        filepath: ['addon', 'engine.js'],
		codeBlocks: [
			{
				language: 'javascript',
				code: `import Engine from '@ember/engine';
import loadInitializers from 'ember-load-initializers';
import Resolver from 'ember-resolver';
import config from './config/environment';
import services from '@fleetbase/ember-core/exports/services';
import OrderVesselTrackingWidgetComponent from './components/order-vessel-tracking-widget';

const { modulePrefix } = config;
const externalRoutes = ['console', 'extensions'];

export default class VesselIntegrationEngine extends Engine {
    modulePrefix = modulePrefix;
    Resolver = Resolver;
    dependencies = {
        services,
        externalRoutes,
    };
    engineDependencies = ['@fleetbase/fleetops-engine'];
    setupExtension = function (app, engine, universe) {
        const OrderVesselTrackingWidgetDefinition = {
            widgetId: 'order-vessel-tracking-widget',
            name: 'Vessel Tracking',
            description: 'Track vessels for active orders.',
            icon: 'ship',
            component: OrderVesselTrackingWidgetComponent,
            grid_options: { w: 12, h: 12, minW: 8, minH: 12 },
            options: {
                title: 'Vessel Tracking',
            },
        };
        universe.registerDashboardWidgets([OrderVesselTrackingWidgetDefinition]);
    }
}
`,
			},
		],
	},
]
---

<section class="relative overflow-hidden">
	<Container class="pb-16 pt-20 sm:pb-20 sm:pt-24 lg:pb-24">
		<div>
			<div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4">
				<div class="flex flex-col justify-end">
					<div>
						<div
							class="inline-flex w-max rounded-full bg-zinc-950/[.01] shadow-inner-blur"
						>
							<div
								class="flex h-full w-full items-center space-x-2 rounded-full border border-blue-200/[.06] px-4 py-1.5"
							>
								<Icon
									name="heroicons:computer-desktop-solid"
									class="h-4 w-4 text-blue-200"
								/>
								<span
									class="text-sm font-medium text-blue-100 drop-shadow-[-12px_-4px_6px_rgba(237,233,254,0.2)]"
								>
									UI Customizations
								</span>
							</div>
						</div>
						<div class="mt-4">
                            <h2
                                class="text-wrap text-left text-3xl font-semibold leading-extratight text-blue-100 sm:text-4xl sm:leading-extratight"
                            >
                                Compose custom UI components and widgets that extend the console
                            </h2>
                        </div>
					</div>
				</div>
				<div class="space-y-4">
					<p class="text-blue-100">Every operation has unique needs—and your tools should adapt to them. Fleetbase’s UI customization framework lets you extend and tailor the console in powerful ways, creating purpose-built interfaces that align with your workflows.</p>
					<p class="text-blue-100">You can build components that interact with your data, plug them into the right views, and display them in places that matter. Everything integrates smoothly and consistently across the system.</p>
					<p class="text-blue-100">It’s a customization model that doesn’t compromise. You stay in control of how the interface looks, behaves, and evolves—with no unnecessary complexity.</p>
				</div>
			</div>
		</div>
		<div>
			<CodeFeatures features={features} wrapperClass="py-14" />
		</div>
	</Container>
</section>
