---
interface Props {
  name: string
  link?: { href: string; text: string }
}

const { name, link } = Astro.props
---

<div class="flex items-end justify-between text-sm leading-none">
  <label for={name} class="block text-blue-100/75">
    <slot />
  </label>

  {
    link && (
      <a
        href={link.href}
        class="text-blue-300/80 underline duration-200 ease-in-out hover:text-blue-300"
      >
        {link.text}
      </a>
    )
  }
</div>
